.b-rover-stats {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    @include mobile() {
        padding: 10px 0;
    }

    &__content {
        flex-grow: 1;
        display: flex;
        padding: 0 10px;

        @include desktop() {
            max-width: 500px;
        }
    }

}
