.b-game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;

    &__title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    &__description {
        margin-bottom: 20px;
    }

    &__restart-button {
        font-size: 20px;
        outline: none;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 2px;
        background: #fff;
        padding: 15px 20px;
    }
}
