.b-rover-block {
    width: 1em;
    height: 1em;
    background: url("./images/skin.png") no-repeat center;
    background-size: contain;
    transform: translate3d(0, 0, 0);
    position: absolute;
}
